Wrangled By Yuhao Wang

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
tables = pd.read_html("https://www.cdc.gov/mmwr/volumes/65/wr/mm6507a1.htm")

In [6]:
tables[0]

,State,No. respondents,"Crude prevalence, % (95% CI)",Unnamed: 3_level_0,"Adjusted prevalence,§ % (95% CI)",Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0
,None,<1 time/day,≥1 time/day,None,<1 time/day,≥1 time/day,Unnamed: 6_level_1,Unnamed: 7_level_1
0,Overall,157668,26.2 (25.7–26.6),44.7 (44.1–45.3),29.1 (28.6–29.6),24.7 (24.2–25.2),45.2 (44.6–45.8),30.1 (29.6–30.7)
1,Alaska,4102,25.5 (23.8–27.4),48.0 (45.8–50.2),26.5 (24.4–28.6),25.2 (23.5–27.0),48.2 (46.0–50.4),26.6 (24.6–28.7)
2,Arizona,3491,28.6 (26.1–31.1),43.9 (41.0–46.9),27.6 (24.8–30.6),25.9 (23.5–28.5),44.6 (41.4–47.8),29.6 (26.5–32.8)
3,California,5871,26.8 (25.4–28.3),49.4 (47.6–51.1),23.8 (22.3–25.4),25.8 (24.4–27.2),49.9 (48.1–51.7),24.3 (22.8–25.9)
4,Connecticut,5871,33.4 (31.8–35.0),47.1 (45.3–48.9),19.5 (18.1–21.1),30.8 (29.3–32.5),48.6 (46.7–50.5),20.6 (19.0–22.2)
5,District of Columbia,4152,26.6 (24.6–28.7),50.7 (48.2–53.2),22.7 (20.4–25.1),26.4 (24.5–28.4),50.2 (47.7–52.8),23.4 (21.1–25.8)
6,Indiana,4486,23.1 (21.7–24.5),42.0 (40.1–43.9),34.9 (33.1–36.9),21.5 (20.2–22.9),42.3 (40.3–44.3),36.2 (34.2–38.2)
7,Iowa,3696,27.4 (25.7–29.2),42.7 (40.6–44.8),29.9 (27.9–32.1),25.6 (24.0–27.4),42.9 (40.7–45.1),31.5 (29.3–33.7)
8,Kansas,11121,26.3 (25.4–27.2),43.6 (42.4–44.7),30.1 (29.0–31.3),24.9 (24.0–25.8),43.8 (42.6–45.0),31.3 (30.1–32.4)
9,Kentucky,9818,21.8 (20.7–23.0),36.8 (35.3–38.2),41.4 (39.9–42.9),20.3 (19.2–21.4),36.6 (35.1–38.1),43.2 (41.6–44.7)
10,Louisiana,4759,19.1 (17.7–20.6),36.8 (34.6–39.0),44.1 (41.8–46.4),17.8 (16.4–19.3),36.6 (34.4–39.0),45.5 (43.1–48.0)
11,Maryland,11759,28.1 (27.0–29.3),44.4 (43.0–45.8),27.5 (26.1–28.9),26.2 (25.1–27.4),45.3 (43.8–46.8),28.5 (27.0–30.0)
12,Minnesota,12704,30.6 (29.2–32.1),48.1 (46.5–49.8),21.2 (19.9–22.6),28.7 (27.4–30.1),49.0 (47.3–50.6),22.3 (21.0–23.8)
13,Mississippi,6692,16.4 (15.3–17.5),37.4 (35.7–39.1),46.2 (44.5–48.1),15.4 (14.3–16.5),37.1 (35.3–38.9),47.5 (45.7–49.4)
14,Nebraska,7822,24.4 (23.0–25.8),47.1 (45.4–48.9),28.5 (26.8–30.3),23.2 (21.8–24.6),47.0 (45.2–48.9),29.8 (28.0–31.7)
15,New Jersey,3842,34.0 (31.9–36.2),43.0 (40.6–45.4),23.0 (20.9–25.1),32.0 (30.1–34.1),43.8 (41.3–46.3),24.2 (22.1–26.4)
16,New York,3751,30.2 (28.5–32.1),47.3 (45.2–49.4),22.5 (20.7–24.3),29.1 (27.3–30.8),47.9 (45.8–50.0),23.0 (21.2–25.0)
17,North Carolina,3926,19.6 (18.1–21.2),40.1 (38.0–42.3),40.3 (38.1–42.5),18.3 (16.9–19.9),40.2 (38.0–42.4),41.5 (39.3–43.7)
18,Ohio,7316,25.4 (24.1–26.8),43.4 (41.7–45.1),31.2 (29.6–32.9),23.7 (22.4–25.0),43.5 (41.7–45.4),32.8 (31.1–34.6)
19,Oklahoma,3638,19.0 (17.5–20.5),37.9 (35.9–40.0),43.1 (40.9–45.3),17.9 (16.4–19.4),37.6 (35.5–39.7),44.6 (42.4–46.8)
20,South Carolina,9590,19.8 (18.8–20.9),39.8 (38.4–41.2),40.4 (39.0–41.9),18.0 (17.1–19.1),39.9 (38.4–41.4),42.1 (40.6–43.6)
21,Utah,11428,20.9 (20.1–21.8),51.6 (50.4–52.8),27.5 (26.4–28.6),21.8 (20.9–22.6),51.2 (50.0–52.4),27.0 (26.0–28.1)
22,Vermont,5784,35.8 (34.3–37.4),47.5 (45.8–49.2),16.7 (15.4–18.1),32.7 (31.2–34.2),49.3 (47.5–51.1),18.0 (16.5–19.6)
23,West Virginia,5630,22.4 (21.2–23.6),35.9 (34.4–37.4),41.8 (40.2–43.4),19.7 (18.6–20.9),35.1 (33.5–36.7),45.2 (43.5–46.9)
24,Wisconsin,5500,26.4 (24.7–28.2),46.9 (44.8–49.0),26.7 (24.8–28.7),24.0 (22.4–25.8),47.4 (45.2–49.7),28.5 (26.5–30.6)

In [7]:
df = tables[0]

In [10]:
df.head(5)

,State,No. respondents,"Crude prevalence, % (95% CI)",Unnamed: 3_level_0,"Adjusted prevalence,§ % (95% CI)",Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0
,None,<1 time/day,≥1 time/day,None,<1 time/day,≥1 time/day,Unnamed: 6_level_1,Unnamed: 7_level_1
0,Overall,157668,26.2 (25.7–26.6),44.7 (44.1–45.3),29.1 (28.6–29.6),24.7 (24.2–25.2),45.2 (44.6–45.8),30.1 (29.6–30.7)
1,Alaska,4102,25.5 (23.8–27.4),48.0 (45.8–50.2),26.5 (24.4–28.6),25.2 (23.5–27.0),48.2 (46.0–50.4),26.6 (24.6–28.7)
2,Arizona,3491,28.6 (26.1–31.1),43.9 (41.0–46.9),27.6 (24.8–30.6),25.9 (23.5–28.5),44.6 (41.4–47.8),29.6 (26.5–32.8)
3,California,5871,26.8 (25.4–28.3),49.4 (47.6–51.1),23.8 (22.3–25.4),25.8 (24.4–27.2),49.9 (48.1–51.7),24.3 (22.8–25.9)
4,Connecticut,5871,33.4 (31.8–35.0),47.1 (45.3–48.9),19.5 (18.1–21.1),30.8 (29.3–32.5),48.6 (46.7–50.5),20.6 (19.0–22.2)

In [19]:
df1 = df.iloc[:, 5:8]

In [27]:
s1 = df["State"]

In [28]:
result = pd.concat([s1, df1], axis=1)

In [33]:
old_names = list(result.columns)
new_names = ['State', 'None', '<1 time/day','≥1 time/day']
result.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [40]:
result1 = result.copy()

In [47]:
result1['None'] = result1['None'] .apply(lambda x : x[0:4])
result1['<1 time/day'] = result1['<1 time/day'] .apply(lambda x : x[0:4])
result1['≥1 time/day'] = result1['≥1 time/day'] .apply(lambda x : x[0:4])

In [48]:
result1

                   State  None <1 time/day ≥1 time/day
0                Overall  24.7        45.2        30.1
1                 Alaska  25.2        48.2        26.6
2                Arizona  25.9        44.6        29.6
3             California  25.8        49.9        24.3
4            Connecticut  30.8        48.6        20.6
5   District of Columbia  26.4        50.2        23.4
6                Indiana  21.5        42.3        36.2
7                   Iowa  25.6        42.9        31.5
8                 Kansas  24.9        43.8        31.3
9               Kentucky  20.3        36.6        43.2
10             Louisiana  17.8        36.6        45.5
11              Maryland  26.2        45.3        28.5
12             Minnesota  28.7        49.0        22.3
13           Mississippi  15.4        37.1        47.5
14              Nebraska  23.2        47.0        29.8
15            New Jersey  32.0        43.8        24.2
16              New York  29.1        47.9        23.0
17        North Carolina  18.3        40.2        41.5
18                  Ohio  23.7        43.5        32.8
19              Oklahoma  17.9        37.6        44.6
20        South Carolina  18.0        39.9        42.1
21                  Utah  21.8        51.2        27.0
22               Vermont  32.7        49.3        18.0
23         West Virginia  19.7        35.1        45.2
24             Wisconsin  24.0        47.4        28.5

In [49]:
result1.to_csv("result1.csv")

In [52]:
table1 = pd.read_html("TheStateofObesity.htm")

In [55]:
df2 = table1[0]

In [61]:
df2 = df2.iloc[:,1:3]

In [66]:
df2['State'] = df2['State'].apply(lambda x : x[1:])

In [68]:
test = pd.merge(result1, df2, on='State')

In [69]:
test

                   State  None <1 time/day ≥1 time/day Adult Obesity Rate 2016
0                 Alaska  25.2        48.2        26.6                   31.4%
1                Arizona  25.9        44.6        29.6                   29.0%
2             California  25.8        49.9        24.3                   25.0%
3            Connecticut  30.8        48.6        20.6                   26.0%
4   District of Columbia  26.4        50.2        23.4                   22.6%
5                Indiana  21.5        42.3        36.2                   32.5%
6                   Iowa  25.6        42.9        31.5                   32.0%
7                 Kansas  24.9        43.8        31.3                   31.2%
8               Kentucky  20.3        36.6        43.2                   34.2%
9              Louisiana  17.8        36.6        45.5                   35.5%
10              Maryland  26.2        45.3        28.5                   29.9%
11             Minnesota  28.7        49.0        22.3                   27.8%
12           Mississippi  15.4        37.1        47.5                   37.3%
13              Nebraska  23.2        47.0        29.8                   32.0%
14            New Jersey  32.0        43.8        24.2                   27.4%
15              New York  29.1        47.9        23.0                   25.5%
16        North Carolina  18.3        40.2        41.5                   31.8%
17                  Ohio  23.7        43.5        32.8                   31.5%
18              Oklahoma  17.9        37.6        44.6                   32.8%
19        South Carolina  18.0        39.9        42.1                   32.3%
20                  Utah  21.8        51.2        27.0                   25.4%
21               Vermont  32.7        49.3        18.0                   27.1%
22         West Virginia  19.7        35.1        45.2                   37.7%
23             Wisconsin  24.0        47.4        28.5                   30.7%

In [70]:
test.to_csv("result2.csv")